= bootstrap_form_for(@topic, layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10') do |f|
  - if @topic.errors.any?
    #error_explanation
      %h2
        = pluralize(@topic.errors.count, "error")
        prohibited this topic from being saved:
      %ul
        - @topic.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :name
  = f.text_area :description
  = f.form_group do
    = f.submit
    - if @topic.persisted?
      = link_to 'Cancel', topic_path(@topic), :class => 'btn btn-default'
      = link_to 'Delete', @topic, :method => :delete, :class => 'btn btn-default', :data => { :confirm => 'Are you sure?' }
    - else
      = link_to 'Cancel', topics_path, :class => 'btn btn-default'
