- content_for :title do
  = @topic.name
- content_for :notice do
  notice

.container
  .page-header
    %h3
      %span= @topic.name
      %span.small= pluralize(@topic.votes.count, 'vote')
  .row
    .col-md-12
      = @topic.description
  %hr
  .row
    .col-md-12.text-center
      = link_to 'Edit', edit_topic_path(@topic), class: 'btn btn-default'
      = link_to "Delete", @topic, method: :delete, class: 'btn btn-default', data: {confirm: "Are you sure?"}
